accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
audioread
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
dataclasses-json
decorator
deprecated
dirtyjson
dnspython
docx2txt
email-validator
executing
faiss-cpu
fastapi-cli
fastapi-cloud-cli
ffmpy
fastapi
filelock
filetype
frozenlist
fsspec
greenlet
gradio
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
idna
injector
iprogress
ipython-pygments-lexers
ipython
ipywidgets
itsdangerous
jedi
jinja2
joblib
jupyterlab-widgets
lazy-loader
librosa
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-qdrant
llama-index-readers-file
asyncpg
llama-index-storage-docstore-postgres
llama-index-storage-index-store-postgres
psycopg2-binary
llvmlite
lxml
markdown-it-py
markupsafe
marshmallow
matplotlib-inline
mdurl
mpmath
msgpack
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
ollama-python
orjson
packaging
pandas
parso
pexpect
pillow
platformdirs
pooch
prompt-toolkit
propcache
psutil
ptyprocess
pure-eval
pycparser
pydantic-core
pydantic-extra-types
pydantic-settings
pydantic
pydub
pytesseract
pygments
pypdf
python-dateutil
python-dotenv
python-multipart
python-pptx
pytz
pyyaml
regex
requests
retry-async
rich-toolkit
rich
rignore
ruff
safetensors
scikit-learn
scipy
sentry-sdk
setuptools
sentence-transformers
shellingham
six
sniffio
soundfile
soupsieve
soxr
sqlalchemy
stack-data
starlette
striprtf
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
traitlets
transformers
triton
typer
typing-extensions
typing-inspect
typing-inspection
tzdata
ujson
urllib3
uvicorn
uvloop
watchdog
watchfiles
wcwidth
websockets
widgetsnbextension
wrapt
xlsxwriter
yarl
